body{
background-image: url(./img/3373822662_w1280_h640_3373822662.webp);
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
min-height: 100vh;

}
.year{
    display: flex;
    justify-content: center;

    font-family: "Ruslan Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.img_newyear{
width: 100%;
}
.wrapper{
display: flex;
align-items: center;
justify-content: space-around;
}
.wrapper img{
position: relative;
left: -1000px;
width: 30%;
object-fit: contain;
transition: all 2s linear;
}
.poem{
width: 30%;
font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  color:white;
}


footer {
  position: relative;
  z-index: 10;
    display: flex;
align-items: center;
justify-content: center;
margin-bottom: 200px;
}

@media(max-width:1024px){
.wrapper{
flex-direction: column;
}
.wrapper img{
width: 90%;
left: -500px;
}
.poem{
width: 90%;
}

}

@media(max-width:768){
.iframe{
width: 100%;
}
}
main{
position: relative;
}
/* #snow {
position: absolute;
top: -50%;
left: -70%;
width: 100px;
height: auto;
transition: all 5s linear;
} */
 #snow {
  position: absolute;
  top: -100px;
  right: 45%;
  transform: translateX(-50%);
  width: 100px;
  transition: top 5s linear;
}